*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color: #4267B2;
    font-family: 'Short Stack', cursive,sans-serif;
    position: relative;
}

.menu{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
.menu .logo a{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
    cursor: none;
}
.menu .list a{
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
.menu .logo{
width: 45%;
position: relative;

}
.menu .list{
text-transform: uppercase;
margin-right: 20px;
}

.menu .list:hover{
    background-color: rgb(99, 99, 240);
}
.bars{
    display: inline-block;
    background: white;
    width: 18px;
    height: 3px;
    margin-right: 15px;
    position: relative;
}
.bars::before,.bars::after{
    position: absolute;
    content: "";
    background: white;
    width: 18px;
    height: 3px;
    margin-right: 25px;

}
.bars::before{
    top: 7px;
}
.bars::after{
    bottom: 7px;
}

.toggle{
    cursor: pointer;
}
.toggle{
    display: none;
}
/* mobile menu  */
@media(max-width:756px){
    
    .menu{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.logo{
    order: 0;
    flex: 1;

}
.toggle{
    display: block;
    order:1;
    
}
.list{
    order: 2;
    width: 100%;
    text-align: center;
    padding: 20px ;
    display: none;
}

.list.active{
    display: block;
}
    }
   